h1, h3 {
    text-align: center;
}

fieldset {
    display: grid;
    grid-template-columns: 1;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 15px;
}

fieldset legend {
    color: grey;
}

fieldset label {
    margin: 2%;
    display: grid;
    grid-template-columns: 1;
}

fieldset button {
    background-color: crimson;
    color: aliceblue;
    padding: 1%;
    margin: 2%;
    border-radius: 5px;
}

fieldset p {
    text-align: center;
    color: grey;
}

summary:hover, button:hover {
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#tickets {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#tickets div {
    border-radius: 5px;
    font-size: x-large;
    padding: 5px;
    margin: 2%;
}

.comprado {
    background-color: crimson;
    color: aliceblue;
    border: 1px solid green;
}

.disponible {
    border: 1px solid crimson;
    background-color: aquamarine;
    color: black;
}

.elegido {
    border: 1px solid crimson;
    background-color: cornflowerblue;
    color: black;
}

.disponible:hover {
    cursor: pointer;
}

.atras {
    font-size: xx-large;
    border-radius: 50%;
    color: azure;
    background-color: brown;
    border: 1px solid purple;
}