h1, h3 {
    text-align: center;
}

fieldset {
    display: grid;
    grid-template-columns: 1;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 15px;
}

fieldset legend {
    color: grey;
}

fieldset label {
    margin: 2%;
    display: grid;
    grid-template-columns: 1;
}

fieldset button {
    background-color: crimson;
    color: aliceblue;
    padding: 1%;
    margin: 2%;
    border-radius: 5px;
}

fieldset p {
    text-align: center;
    color: grey;
}

#tickets {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#tickets div {
    border-radius: 5px;
    border: 1px solid crimson;
    background-color: aquamarine;
    font-size: x-large;
}

.comprado {
    background-color: crimson;
    color: aliceblue;
    border: 1px solid green;
}

.disponible:hover {
    cursor: pointer;
}