<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <title>Rifas</title>
</head>
<body>
    <h1>Bienvenido a "Rifas en línea"</h1>
    <h3>¿Qué deseas hacer?</h3>
    <div>
        <a href="">
            <button type="button">¡Crear una rifa!</button>
        </a>
        <details>
            <summary>
                <button type="button">¡Entrar en una rifa!</button>
            </summary>
            <p>Holaaaaaaaa</p>
        </details>
    </div>
</body>
</html>