<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', path='ganar.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <script src="{{ url_for('static', path='rifa.js') }}" defer></script>
    <title>Document</title>
</head>
<body>
    <p><a href="/"><span class="atras">⬅</span></a></p>
    <h1>¡Hora de comprar tu ticket en la rifa {{ rifa['codigo'] }}!</h1>
    <p id="aviso"></p>
    <p><b>Con un clic seleccionas, con dos se quita la seleción.</b></p>
    <input type="hidden" name="final" id="final" value="{{ rifa['final'] }}">
    <input type="hidden" name="sorteo" id="sorteo" value="{{ rifa['sorteo'] }}">
    {% if token['tipo'] == 'cliente' %}
    <form action="/tickets/{{ rifa['codigo'] }}" method="post">
        <input type="hidden" name="numero" id="numero" required>
        <input type="hidden" name="cedula" id="cedula" value="{{ token['cedula'] }}" required>
        <button type="submit">¡Comprar!</button>
    </form>
    {% endif %}
    <section id="tickets">
        {% for esto in rifa['tickets'] %}
        {% if esto['estatus'] == False %}
        <div class="disponible" id="{{ esto['numero'] }}">{{ esto['numero'] }}</div>
        {% else %}
        <div class="comprado" id="{{ esto['numero'] }}">{{ esto['numero'] }}</div>
        {% endif %}
        {% endfor %}
    </section>
</body>
</html>